<div id="foods-search-form">
  <fieldset>
    <legend>Search for Foods Using NutritionIx</legend>
    <%= f.label :search, 'Search for New Foods' %><br>
    <%= f.text_area :search, rows: 5, cols: 25 %>

    <p>
      Powered by 
      <%= link_to 'Nutritionix API',
                  'http://www.nutritionix.com/api',
                  target: '_blank' %>
    </p>

    <p>
      Please each food on a separate line.  Example: <br>
      "1 gala apple"<br>
      "1/4 cup walnuts"
    </p>

    <%= f.submit 'Search' %>
  </fieldset>
</div>
