<h2>User: <%= current_user.email %></h2>

<h2>Food Log</h2>

<ul>
  <% current_user.logs.each do |log| %>
    <li>
      <%= time_ago_in_words(log.created_at) %> ago
      <ul class="default">
      <% log.entries.each do |entry| %>
        <li><%= entry.recipe.name %> - <%= entry.category %></li>
      <% end %>
      </ul>
    </li>
  <% end %>
</ul>
