<%= form_for @food do |f| %>
  <%= render partial: 'layouts/form_errors', locals: { form_errors: @food } %>

  <div class='food-fields'>
    <%= render 'food_fields', f: f %>
  </div>

  <%= f.submit %>
<% end %>

