<h1>Foods</h1>

<p><%= link_to 'Create a New Food', new_food_path %></p>

<p>
Sort Foods: <%= link_to 'Ascending', foods_path %> |
<%= link_to 'Descending', desc_foods_path %>
</p>

<%= render partial: 'foods', collection: @foods || 'No foods are available.' %>
