<h1>Foods</h1>

<p><%= link_to 'Create a New Food', new_food_path %></p>

<p>
  Sort Foods: 
  <%= link_to 'Ascending', foods_path(sort: "asc") %> |
  <%= link_to 'Descending', foods_path(sort: "desc") %>
</p>

<%= render partial: 'foods', collection: @foods || 'No foods are available.' %>
